@import "colors.less";

@default-bg: @blue-50;
@default-fg: @black;

@error-fg: @red-a700;

@header-bg: @blue-600;
@header-fg: @white;
@header-light-bg: @blue-500;
@header-light-fg: @white;

@heading-fg: @black-dark;
@heading-bg: @default-bg;

@detail-fg: @black-darker;
@detail-bg: @white-dark;
@detail-border-color: @black-lighter;

@quote-fg: @detail-fg;
@quote-bg: darken(@detail-bg, 5%);
@quote-border-color: darken(@detail-bg, 15%);

@border-radius: 0.5rem;

body {
  font-family: 'Fira Sans';
  padding: 0;
  margin: 0;
  background: @default-bg;
  color: @default-fg;
}

.header {
  width: 100%;

  .header-title {
    background: @header-bg;
    color: @header-fg;

    display: table;
    width: 100%;
    box-sizing: border-box;
    padding: 0.75rem;
  }

  .header-title-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    cursor: pointer;
  }

  .header-title-nav {
    display: table-cell;
    text-align: right;
    vertical-align: middle;

    select {
      background: @header-light-bg;
      color: @header-light-fg;
      border: darken(@header-light-bg, 10%);
      border-radius: @border-radius;
      outline: none;
      font: inherit;
      padding: 0.5rem;
    }
  }

  .header-nav {
    text-align: center;
    margin: auto;
    background: @header-light-bg;
    color: @header-light-fg;
    padding-top: 0.25rem;

    a, span {
      color: inherit;
      padding: 0.75rem;
      display: inline-block;
    }

    .header-nav-item {
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
      background: inherit;
      border-radius: @border-radius @border-radius 0 0;

      &:hover {
        box-shadow: inset 0px -3px 0px 0px @default-bg;
      }

      &.header-nav-item-active {
        color: @default-fg;
        background: @default-bg;
      }
    }

    .header-nav-separator {
      margin-left: 1rem;
    }
  }
}

main {
  margin: 2rem 2rem 2rem 2rem;
}

.node {
  .node-header {
    margin: 0rem 0rem 0.5rem 0rem;
    box-sizing: border-box;
    display: table;
    width: 100%;
    color: @default-fg;
    font-size: 1.0rem;
    font-weight: normal;
    cursor: pointer;
    line-height: 1.25rem;

    &:after {
      transition: all 0.05s ease-in-out;
      position: absolute;
      content: '';
      right: 0;
    }

    .node-header-title {
      display: table-cell;

      .node-header-title-markers {
        opacity: 0.5;
      }
    }

    &:hover {
      .node-header-title {
        text-decoration: underline;
      }
    }

    .node-header-name {
      display: table-cell;
      text-align: right;
      opacity: 0.5;

      &:before {
        content: '\260D';
        opacity: 0.5;
        margin-right: 0.25rem;
        font-size: 0.75em;
      }
    }
  }

  &.node-root {
    > .node-header {
      margin: 2rem 0rem 0.5rem 0rem;
      font-size: 1.45rem;
      color: @heading-fg;
      background: @heading-bg;
    }

    > .node-subnodes {
      padding-left: 0rem;
      margin-top: 1rem;
    }
  }

  .node-details {
    overflow-y: hidden;
    transition: all 0.25s ease-in-out;

    &.node-details-collapsed {
      display: none;
    }

    &.node-details-expanded {
      display: block;
    }
  }

  &.node-unsatisfied .node-header:after {
    border-right: 0.25rem solid @error-fg;
    height: 1em;
  }

  .node-details-table {
    display: table;
    box-sizing: border-box;
    table-layout: fixed;
    width: 100%;
    border-spacing: 1rem;
    border: thin solid @detail-border-color;
    color: @detail-fg;
    background: @detail-bg;
    margin-bottom: 0.5rem;

    .node-detail {
      display: table-row;

      .node-detail-label {
        font-family: 'Fira Sans';
        display: table-cell;
        width: 6rem;
        vertical-align: top;
      }

      .node-detail-content {
        font-family: 'Fira Sans Light';
        display: table-cell;
        vertical-align: top;

        .markdown {
          h1, h2, h3, h4 {
            font-family: 'Fira Sans';
            font-weight: 300;
          }

          h1, h2 {
            font-size: 1rem;
            border-bottom: thin solid @detail-border-color;
          }

          h3 {
            font-size: 1rem;
          }

          h4 {
            font-size: 1rem;
            opacity: 0.75;
          }
        }
      }
    }
  }

  .node-subnodes {
    padding-left: 2rem;
  }
}

.project-description {
  margin-top: 2rem;
  font-family: 'Fira Sans Light';
}

.project-copyright {
  margin-top: 2rem;

  .project-copyright-header {
    font-weight: normal;
    color: @heading-fg;
    background: @heading-bg;
  }

  .project-copyright-text {
    font-family: 'Fira Sans Light';
  }
}

.error {
  color: @error-fg;
}

.markdown {
  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  blockquote {
    position: relative;
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    color: @quote-fg;
    background: @quote-bg;
    border-left: medium solid @quote-border-color;
    margin: 0;
    overflow: none;
    box-sizing: border-box;
    z-index: 0;

    &:before {
      content: "\201D";
      font-size: 3rem;
      opacity: 0.2;
      position: absolute;
      left: 0.5rem;
      top: 0.15rem;
      z-layer: -1;
    }
  }
}

.node-link {
  display: table;
  margin: 0;
  border-spacing: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 0.25rem;
  cursor: pointer;

  .badge {
    display: table-cell;
    width: 1.0rem;
    opacity: 0.5;
    vertical-align: top;
  }

  .node-link-title {
    display: table-cell;
    padding: 0 0.25rem 0 0.25rem;
    box-sizing: border-box;
    vertical-align: top;
  }

  &:hover .node-link-title {
    text-decoration: underline;
  }

  .node-link-name {
    display: table-cell;
    text-align: right;
    opacity: 0.5;
    vertical-align: top;
  }
}

.inline-tag {
  opacity: 0.5;
}